---
layout: base
title: Home
---

<article class="post">
    <p> Only technical posts are enlisted below. If you're looking for my foodie adventures: go to <a href="{{site.url}}/food-trail/"> <u> Food Trail </u> </a> </p>
    <p class="tag read-first is-uppercase">Recent Posts</p>  
</article>

<section id="post">
{% for post in site.posts limit:15 %}    
    {% if post.category != "food" %}
        {% include post_desc.html %}
    {% endif %}
{% endfor %}
  <br/>
  <article class="post">
      <div class="button-container">
        <a class="read-more" href="{{site.url}}/posts">Older Posts >> </a>
      </div>
    <hr class="article-separator">
  </article>
</section>